@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Lato:wght@300&family=Ubuntu+Condensed&display=swap');
:root {
    --main-font-family: 'Poppins',
        sans-serif;

}
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 50px;
    font-family: var(--main-font-family);
    font-weight: 500;
    
    background: linear-gradient(
        rgba(10,10,10,.4),
        rgba(20,20,20,.8)
    ), url(./images/tax-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
th, td {
   padding: 15px;
}
td{
    text-align: right;
    
}

table {
    width: 100%;
}
ul li {
    list-style: none;
}

nav header, footer {
    background-color: #000;
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding-left: 55px;
}
footer {
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    position: relative;
    margin: 20px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

main .section{
    height: 80vh;
    position: relative;
    border-radius: 5px;
    
    
}
.output {
    background-color: rgba(228, 228, 231, 0.601);
    width: 40%;
    
}
.calculator {
    background-color: rgb(0, 0, 0,.3);
    width: 45%;
    padding: 20px;
    color: #fff;
    box-shadow: -3px 1px 20px rgb(240, 240, 240, .4);

}
form {
    font-size: 1.2rem;
}
form .form-group {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 50px;
}
form .form-group >label, .flex-section * {
    width: 150px;
    position: relative;
    z-index: 5;
}

.flex-section * {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
form .flex-section > section input {
    height: 35px;
    padding-left: 10px;
    outline: none;
    border-top-right-radius: none;
    border: 2px solid;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.05rem;
    color: #000;
}
form .flex-section > section input:focus {
    border: 2px dotted red;
}

.disabled [type='button'] {
    height: 100%;
    font-weight: 600;
    position: absolute;
    right: -43px;
    border: none;
    background-color: rgb(29, 133, 47);
    color: #ffff;
    width: max-content;
    padding: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 0px 10px rgb(102, 101, 101);
    font-size: 1rem;
}
[type='radio'], [type='button']{
    cursor: pointer;
}
input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.66em;
    height: 1.66em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
input[type="radio"]::before {
    content: "";
    width: 1.65em;
    height: 1.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(151, 151, 153);
}
input[type="radio"]:checked::before {
    transform: scale(.8);
}
input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid yellow;
    outline-offset: max(2px, 0.15em);
}

#submit{
    display: inline-block;
    width: 80%;
    margin-inline: auto;
    padding: 15px;
    box-shadow: -3px 3px 0px 1px rgb(243, 240, 240);
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #ffffff;
    transition: all 500ms ease-in-out;
}
#submit:hover {
    box-shadow: 3px 3px 0px 1px rgb(243, 240, 240);
    background-color: rgb(57, 168, 57);
}
.output {
    /* overflow: hidden; */
    scrollbar-width: none;
}
.nothing::after {
    content: 'Results will Appear here after Calculation';
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: red;
    text-align: center;
    width: 80%;

}
table {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* display: none; */
}
#netpay {
    background: green;
}

@media only screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        
    }
        main .section{
            width: 80%;
            margin-inline: auto;
        }
                #results-t {
                    width: 100% !important;
                }
              table {
                width: 100%;
              }
}
@media only screen and (max-width: 700px) {
    main {
        font-size: 1rem;
    }
        input[type="radio"] {
            width: 1.2em;
            height: 1.2em;
        }
                form .flex-section > section input {
                    width: 100px;
                }
                                .disabled [type='button'] {
                                    right: 8px;
                                }
}